.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
}

.header h1 {
    font-size: 25px;
    font-weight: 600;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    width: 300px;
    border-bottom: 2px solid var(--font-color);
}

.header p {
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding-bottom: 5px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    width: 300px;
}

.wrapper {
    box-shadow: 0px 4px 9px 0px #00000040;
    padding: 50px 70px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    min-width: 30vw;
    flex-direction: column;
    align-items: center;
}

.wrapper button {
    margin-top: 20px;
}

.field {
    width: 100%;
}

.fieldCode {
    height: 80px;
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(70, 70, 70, 0.938);
    padding: 0px 10px;
    color: var(--font-color);
    box-shadow: 0px 4px 9px 0px #2c2c2c2a;
    margin-bottom: 15px;
    margin-top: 2px;
    font-size: 35px;
}

.warning {
    color: rgb(211, 20, 20);
    font-weight: 600;
    height: 20px;
}

.cornerBtn {
    justify-self: flex-start;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}
