
:root {
  --accent-color: rgb(59 221 143);
  --accent-color-sec: #37cc88;
  --font-color: rgb(0 60 60);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: var(--font-color);
}

.button--primary {
  height: 36px;
  padding: 7px 12px;
  border-radius: 10px;
  color: white !important;
  background-color: var(--font-color);
}

.button--primary * {
  color: white !important;
  background-color: var(--font-color);
}

.button {
  height: 36px;
  padding: 7px 12px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--accent-color-sec);
  color: var(--accent-color-sec);
}

.button--large {
  height: 40px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.field {
  height: 36px;
  width: 100%;
  display: block;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(70, 70, 70, 0.938);
  padding: 0px 10px;
  color: var(--font-color);
  box-shadow: 0px 4px 9px 0px #2c2c2c2a;
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 15px;
}

label {
  color: var(--font-color);
  color: rgb(77, 77, 77);
  font-size: 14px;
  margin-left: 5px;
}